.asking{
  /* height: calc(100%); */
  position: relative;
  overflow: hidden;
}

.asking > div{
  height: 100%;
  position: relative;

}

.asking .title{
  height: 2rem;
  /* background-color: #DCF5DC; */
}

.asking .progress{
  height: 1px;
  width: 100%;
}

.asking .askinGcontent{
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 1rem 1rem ;
  /* height: calc(100% - 45px - 55px - 70px); */
  font-size: 1rem;
  line-height: 1rem;
}

.asking .askinGcontent .answer .am-list-content{
  font-size: 0.7rem;
  flex:initial;
  overflow: initial;
  white-space: initial;
}

.asking .pageHandle{
  /* position: absolute; */
  /* bottom: 55px; */
  height: 50px;
  width: 100%;
}

.asking .pageHandle .pageHandle-content{
  width: 80%;
  margin: auto;
}

.title{
  position: relative;
}

.title .time{
  padding-top: 0.4rem;
  padding-left: 1rem;
  font-size: 0.7rem;
  color: red;
}
.asking .subBtn{
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  height: 50px;
}

.asking .subBtn > div{
  line-height: 75px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}