@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9 */
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-lesson:before {
  content: "\e63f";
}

.icon-huodong1:before {
  content: "\e638";
}

.icon-chengyuan:before {
  content: "\e63c";
}

.icon-jibenxinxi:before {
  content: "\e600";
}

.icon-jinpai1:before {
  content: "\e61a";
}

.icon-tongpai1:before {
  content: "\e605";
}

.icon-yinpai1:before {
  content: "\e6ca";
}

.icon-jinpai:before {
  content: "\e674";
}

.icon-yinpai:before {
  content: "\e61b";
}

.icon-tongpai:before {
  content: "\e637";
}

.icon-wode:before {
  content: "\e60b";
}

.icon-kecheng:before {
  content: "\e60f";
}

.icon-shouye:before {
  content: "\e708";
}

.icon-tianjia:before {
  content: "\e87f";
}

.icon-icon--tianjia:before {
  content: "\e622";
}

.icon-xinxi:before {
  content: "\e619";
}

.icon-shuangsechangyongtubiao-:before {
  content: "\e602";
}

.icon-huodong:before {
  content: "\e6d5";
}

