.statistics{
  height: 100%;
  position: relative;

}

.statistics .statistics-tab{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.statistics .statistics-content{
  height: calc(100% - 105px);
  position: relative;
}

.statistics .am-tab-bar-bar{
  height: 60px;
}

.statistics .am-tab-bar-tab-title{
  font-size: 15px;
}