html,body{
  padding: 0;
  margin: 0;
  height: 100%;

  font-family:"webfont" !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 字体------------- */
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_o223am3ztb.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_o223am3ztb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_o223am3ztb.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_o223am3ztb.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_o223am3ztb.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_o223am3ztb.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}
/* 字体------------- */

.myApp{
  height: 100%;
  flex-direction:column;
  display: flex;
}

.myBtnWapper{
  margin: auto;
  margin-top: 2.5rem;
  width: 70%;
}

.mySpan{
  color: #1890ff;
  cursor: pointer;
}

.myTips{
  color: #ED1C24;
}

/* 解决谷歌浏览器轮播图滑动报错问题 */
* { 
  touch-action: pan-y;  
}

/* 全局提示 */
.the_global_load{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.the_global_load-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

img {
  border: none;
  vertical-align: middle;
}