#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: black;
}

.tabBar{
  position: fixed;
  bottom: 0;  
  /* z-index: 9999; */
}